package com.example.resolvers

import com.example.resolvers.resolverbases.QueryResolvers
import viaduct.api.grts.ChecklistItem
import viaduct.api.resolver.Resolver

@Resolver
class ChecklistItemsQueryResolver : QueryResolvers.ChecklistItems() {
    override suspend fun resolve(ctx: Context): List<ChecklistItem> =
        ctx.authenticatedClient.selectNodeIds("ChecklistItem")
            .map { ctx.ref(ctx.globalIDFor(ChecklistItem.Reflection, it)) }
}
