package com.example.resolvers

import com.example.resolvers.resolverbases.MutationResolvers
import dev.viaduct.persistence.runtime.db.DbClient
import dev.viaduct.persistence.runtime.db.toPgGraphqlInsert
import viaduct.api.grts.ChecklistItem
import viaduct.api.grts.ChecklistItemPayload
import viaduct.api.resolver.Resolver

@Resolver
class CreateChecklistItemResolver(private val dbClient: DbClient) : MutationResolvers.CreateChecklistItem() {
    override suspend fun resolve(ctx: Context): ChecklistItemPayload =
        dbClient.entity<ChecklistItem>().insert(ctx, ctx.arguments.input.toPgGraphqlInsert())
}
