package com.example.resolvers

import com.example.resolvers.resolverbases.MutationResolvers
import dev.viaduct.persistence.runtime.db.DbClient
import dev.viaduct.persistence.runtime.db.toPgGraphqlDelete
import viaduct.api.grts.ChecklistItem
import viaduct.api.grts.DeleteChecklistItemPayload
import viaduct.api.resolver.Resolver

@Resolver
class DeleteChecklistItemResolver(private val dbClient: DbClient) : MutationResolvers.DeleteChecklistItem() {
    override suspend fun resolve(ctx: Context): DeleteChecklistItemPayload =
        dbClient.entity<ChecklistItem>().delete(ctx, ctx.arguments.input.toPgGraphqlDelete<ChecklistItem>())
}
